body {
    font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
}

#calendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
#calendar tr,
#calendar tbody {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}
caption {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 140%;
    font-weight: bold;
    padding: 10px 0;
}

#calendar a {
    color: #41a812;
    text-decoration: none;
}

#calendar td,
#calendar th {
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #e6d5d5;
}

#calendar .weekdays {
    background: #bdb6b6;
}

#calendar .weekdays th {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar td {
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

#calendar .other-day:hover {
    background: #c0b7b7;
}

#calendar .date {
    text-align: center;
    font-size-adjust: 0.7;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 4px;
    /* background: #333; */
    color: #000000;
    width: 20px;
    border-radius: 100%;
    flex: 0 0 auto;
    align-self: flex-end;
}
#calendar .event {
    flex: 1 0 auto;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
    line-height: 25px;
    background: #ffffff;
    border: 1px solid #000000;
    color: #127f8d;
    text-decoration: none;
}

#calendar .event-danger {
    color: #ff0707;

    text-decoration: none;
}
#calendar .event-warning {
    color: #d1d418;

    text-decoration: none;
}

#calendar .event-normal {
    color: #000000;

    text-decoration: none;
}

#calendar .event-success {
    color: #1ada13;
    text-decoration: none;
}

#calendar .event-underline-hover:hover {
    text-decoration: underline;
}

#calendar .other-day {
    background: #ffffff;
}
#calendar .today {
    background: #02afff;
}
